<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>yoribogo</display-name>
  
 <!-- 필터 등록 -->
  <filter>
  	<filter-name>authFilter</filter-name>
  	<filter-class>kr.co.yoribogo.filter.AuthFilter</filter-class>
  	<init-param>
  		<param-name>pages</param-name>
  		<param-value>
  			/search/detail.do;
  			/recipe/insertrecipe.do;
  			/recipe/updateform.do;
  			/recipe/listajax.do;
  			/recipe/list.do;
  			/login/login.do;
  			/login/loginform.do;
  			/signup/checkemail.do;
  			/signup/checkid.do;
  			/signup/signupform.do;
  			/signup/signupsuccess.do;
  			/admin/notice/insertbanner.do;
  			/admin/notice/noticeform.do;
  			/admin/notice/write.do;
  			/admin/notice/bannerform.do;
  			/admin/notice/insertbanner.do;
  			/admin/recipe/listrecipe.do;
  		</param-value>
  	</init-param>
  </filter>
  
  <!-- 모든 클래스에서 사용할 수 있도록 필터와 클래스 맵핑   -->

  <filter-mapping>
  	<filter-name>authFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>

  
  <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>kr.co.yoribogo.filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  
  <!-- 모든 클래스에서 사용할 수 있도록 필터와 클래스 맵핑   -->
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>